.container {
    margin: 10% 15%;
}

body {
    background-image: linear-gradient(to left top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    height: 100vh;
}

input[type="text"] {
    background: rgba(0, 0, 0, 0);
    border: 1px black solid;
    outline: none;
}

ul {
    list-style-type: none;
}